<!-- templates/components/nav/admin_nav.html -->
<nav>
    <a href="{{ url_for('admin_dashboard') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_dashboard' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Dashboard') }}</a>
    <a href="{{ url_for('admin_flotte') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_flotte' %}active{% else %}hover:bg-gray-700{% endif %}">Flotte Télégestion</a>
    <a href="{{ url_for('admin_phone_requests') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_phone_requests' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Phone Requests') }}</a>
    <a href="{{ url_for('admin_users') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_users' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Users') }}</a>
    <a href="{{ url_for('admin_roles') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_roles' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Roles') }}</a>
    <a href="{{ url_for('admin_assign_secteurs') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_assign_secteurs' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Assign Secteurs') }}</a>
    <a href="{{ url_for('admin_import_csv') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_import_csv' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Data Import') }}</a>
    <a href="{{ url_for('admin_reports') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_reports' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('Reports') }}</a>
    <a href="{{ url_for('admin_sql_editor') }}" class="block py-2.5 px-4 rounded transition duration-200 {% if request.endpoint == 'admin_sql_editor' %}active{% else %}hover:bg-gray-700{% endif %}">{{ _('SQL Editor') }}</a>
</nav>
