<!-- templates/components/nav/manager_nav.html -->
<nav>
    <a href="{{ url_for('manager_dashboard') }}" class="block py-2.5 px-4 {% if request.endpoint == 'manager_dashboard' %}active{% endif %}">Tableau de Bord</a>
    <a href="{{ url_for('manager_tickets') }}" class="block py-2.5 px-4 {% if request.endpoint == 'manager_tickets' %}active{% endif %}">Mes Tickets</a>
    <a href="{{ url_for('manager_create_ticket') }}" class="block py-2.5 px-4 {% if request.endpoint == 'manager_create_ticket' %}active{% endif %}">Créer un Ticket</a>
</nav>
