<!-- templates/components/sidebar.html -->
<div class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2 custom-sidebar">
    <a href="#" class="text-white text-2xl font-extrabold px-4 logo">Administration Flotte</a>
    
    <!-- Role-specific navigation -->
    {% if session.role == 'Administrator' %}
        {% include 'components/nav/admin_nav.html' %}
    {% elif session.role == 'Manager' %}
        {% include 'components/nav/manager_nav.html' %}
    {% elif session.role == 'Support' %}
        {% include 'components/nav/support_nav.html' %}
    {% elif session.role == 'Integration Manager' %}
        {% include 'components/nav/integration_nav.html' %}
    {% endif %}
</div>
